.story {
	background: url('../../assets/StorySectionBackgroun.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;

	h1 {
		font-weight: 900;
		font-size: 48px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		opacity: 0.9;
	}

	.story_row {
		padding: 150px 0 100px 0;
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 50px;

		.story_text {
			width: 60%;
			h2 {
				font-weight: 900;
				font-size: 50px;
				text-transform: uppercase;
				color: #ffffff;
			}

			p {
				font-weight: normal;
				font-size: 16px;
				line-height: 28px;
				color: #ffffff;
				text-align: left;
				margin-top: 40px;
			}
		}

		.story_img_container {
			width: 30%;
			max-width: 450px;
			height: 100%;
			max-height: 500px;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.time_row {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: center;

		.time {
			.number_container {
				margin-top: 35px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 74px;
				height: 74px;
				background: #ffffff;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 6px;

				.number {
					color: #017264;
					font-weight: 800;
					font-size: 35px;
				}
			}
			span {
				display: block;
				margin-top: 15px;
				color: #ffffff;
				font-weight: 900;
				font-size: 14px;
				text-transform: uppercase;
			}
		}
	}
}

@include tablet-screen {
	.story {
		text-align: center;
		padding-top: 100px;

		h1 {
			font-size: 35px;
		}

		.story_row {
			display: flex;
			flex-direction: column;
			gap: 50px;

			.story_text {
				width: 100%;
				h2 {
					font-weight: 800;
					font-size: 40px;
				}

				p {
					font-size: 14px;
				}
			}

			.story_img_container {
				width: 100%;
				max-width: 450px;
				height: 100%;
				max-height: 500px;
			}
		}

		.time_row {
			gap: 25px;

			.time {
				.number_container {
					width: 65px;
					height: 65px;

					.number {
						font-size: 30px;
					}
				}
				span {
					font-size: 13px;
				}
			}
		}
	}
}
